:root {
  --brand-color1: #ffffff;
  --brand-color2: #4d5ae5;
  --brand-color3: #2e2f42;
  --brand-color4: #434455;
  --brand-color5: #e7e9fc;
  --brand-color6: #f4f4fd;
  --brand-color7: #404bbf;
  --brand-font-weight1: 800;
  --brand-font-weight2: 500;
  --brand-font-weight3: 700;
  --brand-font-weight4: 400;
  --brand-font-size1: 16px;
  --brand-font-size2: 18px;
  --brand-font-size3: 20px;
  --brand-font-size4: 36px;
  --brand-font-size-title: 56px;
}

/* Main Page */
body {
  font-family: "Roboto", sans-serif;
}
#main-page {
  position: relative;
  width: 1440px;
  height: 2592px;
  background: var(--brand-color1);
  font-style: normal;
  font-size: var(--brand-font-size1);
  font-weight: var(--brand-font-weight4);
  line-height: 1.5;
  color: var(--brand-color4);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

button {
  cursor: pointer;
}

.top-line-bg {
  /* Top line bg */

  box-sizing: border-box;
  position: absolute;
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px;

  /* WHITE Header background, team card background */
  background: var(--brand-color1);
  /* CORNFLOWER */
  border-bottom: 1px solid var(--brand-color5);
}

/* Logo */
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 115px;
  height: 24px;
  left: 156px;
  top: 24px;
}

.logo-units {
  font-weight: var(--brand-font-weight1);
  font-family: "Raleway", sans-serif;
  font-size: var(--brand-font-size2);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  height: 21px;
  flex: none;
  flex-grow: 0;
  /* Web */
  width: 44px;
  color: var(--brand-color2);
  order: 0;
}

/* Studio */
.studio {
  width: 71px;
  color: var(--brand-color3);
  order: 1;
}

/* Studio in footer*/
.foot-studio {
  width: 71px;
  color: var(--brand-color6);
  order: 1;
}

/*Menu Nav  */
.menu-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  position: absolute;
  width: 261px;
  height: 24px;
  left: 347px;
  top: 24px;
}
.menu-nav-links {
  font-weight: var(--brand-font-weight2);
  letter-spacing: 0.02em;
  color: var(--brand-color3);
  flex: none;
  flex-grow: 0;
  line-height: 1.5;
}

.menu-nav-links:hover,
.menu-nav-links:focus {
  color: var(--brand-color7);
}

.adress-contacts {
  font-style: normal;
}

.link-contacts .link {
  position: absolute;
  width: 151px;
  height: 24px;
  top: 24px;
  letter-spacing: 0.02em;
  color: var(--brand-color4);
}

.mail-devstudio a {
  left: 940px;
}

.tel-devstudio a {
  left: 1133px;
}

.link-contacts .link:hover,
.link-contacts .link:focus {
  color: var(--brand-color7);
}

/* Hero Image  */
.dark-bg {
  /* Dark-bg */

  position: absolute;
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;
  background: var(--brand-color3);
}
.efsol-title {
  /* Effective Solutions for Your Business */

  position: absolute;
  width: 496px;
  height: 120px;
  left: 472px;
  top: 260px;

  /* Header 1 */

  font-weight: var(--brand-font-weight3);
  font-size: var(--brand-font-size-title);
  line-height: 1.07;
  /* or 107% */

  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color1);
}

/* Button */
.main-but {
  background-color: #4d5ae5;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  position: absolute;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-text {
  background-color: #4d5ae5;
  font-style: normal;
  font-weight: var(--brand-font-weight2);
  font-size: var(--brand-font-size1);
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-family: var(--main-font-family), sans-serif;
}

.but-order-serv {
  /* Order Service */
  background-color: #4d5ae5;
  width: 105px;
  height: 24px;
  color: var(--brand-color1);

  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.main-but:hover,
.main-but:focus {
  background: var(--brand-color7);
}

body > .sect-one {
  /* Section 1 */

  position: absolute;
  width: 1128px;
  height: 104px;
  left: 156px;
  top: 792px;
}

.features-main-title {
  display: none;
}

.features li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 264px;
  height: 104px;
  top: 792px;
}

.feature-one {
  /* Feature 1 */
  left: 156px;
}

.feature-two {
  /* Feature 2 */
  left: 444px;
}

.feature-three {
  /* Feature 3 */
  left: 732px;
}

.feature-four {
  /* Feature 4 */
  left: 1020px;
}

.feature-title {
  /* Strategy */

  width: 264px;
}

.header-three {
  /* Header 3 */
  height: 24px;
  font-weight: var(--brand-font-weight2);
  font-size: var(--brand-font-size3);
  /* identical to box height, or 120% */

  letter-spacing: 0.02em;
  line-height: 1.2;
  color: var(--brand-color3);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.feature-text {
  width: 264px;
  height: 72px;
  letter-spacing: 0.02em;
  flex: none;
  order: 1;
  flex-grow: 0;
}

body > .sect-two {
  /* Section 2 */

  position: absolute;
  width: 1128px;
  height: 412px;
  left: 156px;
  top: 1016px;
}

.sect-two-title {
  /* What are we doing */

  position: absolute;
  width: 323px;
  height: 40px;
  left: 559px;
  top: 1016px;
}

.header-two {
  /* Header 2 */
  font-weight: var(--brand-font-weight3);
  font-size: var(--brand-font-size4);
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color3);
}

.sect-two-images img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 360px;
  height: 300px;
  top: 1128px;
}

.image-one {
  /* img 1 */

  left: 156px;
}

.image-two {
  /* img 2 */

  left: 540px;
}

.image-three {
  /* img 3 */

  left: 924px;
}

/* Section 3 */
.sect-three-light-bg {
  /* Light-bg */

  position: absolute;
  width: 1440px;
  height: 732px;
  left: 0px;
  top: 1548px;
  background-color: var(--brand-color6);
}

.sect-three-title {
  /* Our Team */

  position: absolute;
  width: 162px;
  height: 40px;
  left: 639px;
  top: 1668px;
}

.list-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;

  position: absolute;
  height: 380px;
  top: 1780px;

  /* WHITE Header background, team card background*/
  background: var(--brand-color1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.img-team-card {
  width: 264px;
  height: 260px;

  mix-blend-mode: normal;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.img-tc-one {
  background: url(man-with-laptop-presenting-something.jpg);
}

.img-tc-two {
  background: url(img-2);
}
.img-tc-three {
  background: url(young-beautiful-woman-pink-warm-sweater-natural-look-smiling-portrait-isolated-long-hair);
}
.img-tc-four {
  background: url(confident-handsome-guy-posing-against-white-wall);
}

.profession,
.app-portfolio {
  height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-size: var(--brand-font-size1);
  line-height: 1.5;
  color: var(--brand-color4);
}

.foot-box {
  /* Footer */

  position: absolute;
  width: 1440px;
  height: 312px;
  left: 0px;
  top: 2280px;
  background: var(--brand-color3);
}

.foot-text {
  /* Text */
  position: absolute;
  width: 264px;
  height: 72px;
  letter-spacing: 0.02em;
  color: var(--brand-color6);
}

/*        Portfolio styles      */

#portfolio {
  /* Body */
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: var(--brand-font-weight4);
  font-size: var(--brand-font-size1);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color4);
}

.filters {
  /* Filters */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  position: absolute;
  width: 586px;
  height: 48px;
  left: 427px;
  top: 168px;
}

.filt-button {
  /* Filter Btn  */

  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  height: 48px;
  background: var(--brand-color6);
  border: 1px solid var(--brand-color5);
  border-radius: 4px;
  flex: none;
  flex-grow: 0;
  color: var(--brand-color2);
}

.filt-button:hover,
.filt-button:focus {
  color: var(--brand-color1);
  background: var(--brand-color7);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.rows {
  position: absolute;
  width: 1128px;
  height: 420px;
  left: 156px;
  top: 288px;
}

.pr-cards {
  box-sizing: border-box;
  position: absolute;
  width: 360px;
  height: 420px;
  top: 288px;
  background: var(--brand-color1);
  border: 1px solid var(--brand-color5);
}

/* Project Card 1 */
.card-one {
  left: 156px;
}

/* Project Card 2 */
.card-two {
  left: 540px;
}

/* Project Card 3 */
.card-three {
  left: 924px;
}

.cards-images {
  position: absolute;
  width: 360px;
  height: 300px;
  left: 0px;
  top: 0px;
  mix-blend-mode: normal;
}

.im-one {
  background: url(4074365);
}
.im-two {
  background: url(4);
}
.im-three {
  background: url(tp238-pf-s73-05-mockup);
}

.im-four {
  background: url(female-taxi-driver-paying-attention-road);
}
.im-five {
  background: url(2105.w026.n002.440B.p0.440);
  mix-blend-mode: normal;
}

.im-six {
  background: url(charming-short-haired-lady-gray-hat-standing-beside-wall-with-smartphone);
  mix-blend-mode: normal;
}

.im-seven {
  background: url(6418424.jpg);
}
.im-eight {
  background: url(pexels-photo-7262897);
  mix-blend-mode: normal;
}

.im-nine {
  background: url(pexels-chevanon-photography-302897);
  mix-blend-mode: normal;
}
.cards-content {
  /* Card Content */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 16px;
  gap: 8px;

  position: absolute;
  width: 360px;
  height: 56px;
  left: 0px;
  top: 332px;
}

.bankin-app {
  /* Banking App Interface Concept */

  width: 290px;
}
.cashless {
  /* Cashless Payment */

  width: 172px;
}

.med-app {
  /* Meditaion App */

  width: 143px;
}

.app {
  width: 30px;
}

.marketing {
  /* Marketing */

  width: 75px;
}

.taxi {
  /* Taxi Service */

  width: 113px;
}

.screen {
  /* Screen Illustrations */

  width: 181px;
}

.design {
  /* Design */

  width: 51px;
}

.online {
  /* Online Courses */

  width: 142px;
}

.insta {
  /* Instagram Stories Concept */

  width: 249px;
}

.food {
  /* Organic Food */

  width: 124px;
}

.coffee {
  /* Fresh Coffee */

  width: 119px;
}

.web-site {
  /* Web Site */

  width: 65px;
}
